section.about.section.container#about
    .about__container.grid
        .about__data 
            h2.section__title-center Find out more <br> about us 
            p.about__description We are a company dedicated to the distribution of products by delivery to your home or to the place where you are, with the best quality of delivery.
        include ./svg/about-ilustration.pug