section.app.section.container
    .app__container.grid 
        .app__data 
            h2.section__title-center Watch your delivery <br> at any time
            p.app__description With our app you can view the route of your delivery and see the status of your order. Look for the app Now!
            .app__buttons 
                a(href="#" class="button button-flex"): i(class='bx bxl-apple button__icon') App Store
                a(href="#" class="button button-flex"): i(class='bx bxl-play-store button__icon') Play Store
        include ./svg/app-ilustration.pug