section.home.section#home
    .home__container.container.grid
        include ./svg/home-ilustration.pug
        .home__data     
            h1.home__title Order Products <br> Faster and Easier
            p.home__description Order your favourite foods at any time and we will deliver it to your doorstep.
            a(href="#" class="button") Order Now 