section.security.section.container
    .security__container.grid 
        .security__data
            h2.section__title-center Your safety is our <br> priority
            p.security__description When your order reaches you, we have the health safety protocols, so that you are protected from any disease. Watch the video of how the delivery is made. 
        include ./svg/security-ilustration.pug