section.services.section.container#services
    h2.section__title Some services We <br> Offer 
    .services__container.grid 
        .services__data 
            h3.services__subtitle Payment Done 
            include ./svg/services1-ilustration.pug
            p.services__description Pay with visa or mastercard. Or pay with PayPal 
            div 
                a(href="#" class="button button-link") Learn more
        .services__data 
            h3.services__subtitle Find Your Product 
            include ./svg/services2-ilustration.pug
            p.services__description We offer a wide range of products. Find the one you need.
            div 
                a(href="#" class="button button-link") Learn more
        .services__data 
            h3.services__subtitle Product Delivered
            include ./svg/services3-ilustration.pug
            p.services__description In our App you can see the delivery status.
            div 
                a(href="#" class="button button-link") Learn more