footer.footer.section
    .footer__container.container.grid
        .footer__content 
            a(href="#" class="footer__logo") Delivery
            p.footer__description Order Products Faster <br> and Easier
        .footer__content 
            h3.footer__title Our Services
            ul.footer__links
                li: a(href="#" class="footer__link") Pricing
                li: a(href="#" class="footer__link") Discounts 
                li: a(href="#" class="footer__link") Report a bug
                li: a(href="#" class="footer__link") Terms of Service
        .footer__content 
            h3.footer__title Our Company
            ul.footer__links
                li: a(href="#" class="footer__link") Blog
                li: a(href="#" class="footer__link") Our Mission
                li: a(href="#" class="footer__link") Get in Touch
        .footer__content 
            h3.footer__title Community
            ul.footer__links
                li: a(href="#" class="footer__link") Support
                li: a(href="#" class="footer__link") FAQ
                li: a(href="#" class="footer__link") Customer Help
                li: a(href="#" class="footer__link") Our Partners 
        .footer__social
            a(href="https://www.facebook.com/" target="_blank" class="footer__social-link"): i(class='bx bxl-facebook-circle')
            a(href="https://www.twitter.com/" target="_blank" class="footer__social-link"): i(class='bx bxl-twitter')
            a(href="https://www.instagram.com/" target="_blank" class="footer__social-link"): i(class='bx bxl-instagram-alt')
    p.footer__copy &#169; 2021 Delivery. All rights reserved. 