header.header#header
    nav.nav.container 
        a(href="#" class="nav__logo") Delivery
        .nav__menu#nav-menu
            ul.nav__list 
                li.nav__item: a(href="#home" class="nav__link active-link") Home
                li.nav__item: a(href="#about" class="nav__link") About us
                li.nav__item: a(href="#services" class="nav__link") Services
                li.nav__item: a(href="#contact" class="nav__link") Contact us
        .nav__toggle#nav-toggle: i(class='bx bx-grid-alt')
        a(href="#" class="button button__header") Order now

